.password-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  margin: auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;


    h2{
      margin: 0;
      border: none;
    }

    input {
      margin-top: 1rem;
      outline: none;
      border: 1px solid #b5c2d4;
      padding: 0.7rem;
      border-radius: 7px;
      width: 70%;
    }
    button {
      margin-top: 1rem;
      outline: none;
      border: 1px solid;
      padding: 0.7rem;
      border-radius: 7px;
      font-weight: bold;
      background: #1216c8;
      color: white;
      cursor: pointer;
      width: 70%;
    }
  }
}
