@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");
.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.videos::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
